<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
	bootstrap="tests/bootstrap.php">
	<testsuites>
		<testsuite name="main">
			<file>tests/clicnat_utilisateur.php</file>
			<file>tests/bobs_extractions.php</file>
		</testsuite>
	</testsuites>
</phpunit>
